@model ElBuenSaborAdmin.Models.Stock

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Deseas eliminar esto?</h3>
<div>
    <h4>Stock</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadCompradorProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadCompradorProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDisponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDisponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Articulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Articulo.Denominacion)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.ArticuloID">Regresar</a>
    </form>
</div>
