@model ElBuenSaborAdmin.Viewmodels.IndexPedidoVM

@{
    ViewData["Title"] = "Pedidos";
}

<h1>Pedidos</h1>

@*<p>
    <a asp-action="Create" value="Guardar" class="btn btn-primary">Crear Nuevo</a>
</p>*@

<form asp-action="Index" method="get">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Estado</span>
        </div>

        <select asp-for="Estado" class="custom-select">
            <option value="">Todos</option>
            <option value="-1">Esperando pago</option>
            <option value="0">Esperando aprobación</option>
            <option value="1">Esperando preparación</option>
            <option value="7">En Preparación</option>
            <option value="3">Pedido Cocinado</option>
            <option value="2">Pendiente de entrega (Local)</option>
            <option value="4">Pendiente de entrega (Delivery)</option>
            <option value="5">Entregado</option>
            <option value="6">Cancelado</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Cliente</span>
        </div>

        <input type="text" class="form-control" asp-for="SearchString" />

        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
        </div>
    </div>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].HoraEstimadaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].TipoEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].FormaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].Domicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].Cliente.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pedidos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraEstimadaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetEstadoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetTipoEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio.GetDomicilioCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Telefono)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/bootstrap-icons-1.5.0/list.svg" />
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" asp-action="Index" asp-controller="DetallePedidos" asp-route-id="@item.Id">Ver Detalle</a></li>
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index" asp-controller="Home">Regresar</a>