@model ElBuenSaborAdmin.Models.Configuracion

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Deseas eliminar esto?</h3>
<div>
    <h4>Configuracion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadCocineros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadCocineros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TokenMercadoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TokenMercadoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disabled)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
