@model ElBuenSaborAdmin.Models.EgresoArticulo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EgresoArticulo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadEgresada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadEgresada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetalleFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetalleFactura.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disabled)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Regresar</a>
</div>
