@model IEnumerable<ElBuenSaborAdmin.Models.DetallePedido>

@{
    ViewData["Title"] = "Detalles del Pedido";
}

<h1>Detalles del Pedido</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Articulo.Denominacion)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Subtotal)
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index" asp-controller="Pedidos">Regresar</a>