@model IEnumerable<ElBuenSaborAdmin.Models.DetallePedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" value="Guardar" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Articulo.Id)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/bootstrap-icons-1.5.0/list.svg" />
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Editar</a></li>
                        <li><a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Detalles</a></li>
                        <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a></li>
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
