@model ElBuenSaborAdmin.Viewmodels.IndexFacturaVM

@{
    ViewData["Title"] = "Facturas";
}

<h1>Facturas</h1>

@*<p>
    <a asp-action="Create" value="Guardar" class="btn btn-primary">Crear Nuevo</a>
</p>*@


<form asp-action="Index" method="get">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Cliente</span>
        </div>

        <input type="text" class="form-control" asp-for="SearchString" />

        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
        </div>
    </div>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Facturas[0].Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facturas[0].Fecha)
            </th>
            <th>
                Cliente
            </th>
            <th>
                Total sin descuento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facturas[0].MontoDescuento)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Facturas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.Cliente.NombreCompleto)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.MontoDescuento)
            </td>

            <td>
                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/bootstrap-icons-1.5.0/list.svg" />
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" asp-action="VerFactura" asp-controller="Facturas" asp-route-numero="@item.Numero" target="_blank">Ver Factura</a></li>
                        @*<li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Editar</a></li>
                        <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a></li>*@
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index" asp-controller="Home">Regresar</a>
