@model ElBuenSaborAdmin.Models.Articulo

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Deseas eliminar esto?</h3>
<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Denominacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Denominacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Model.Imagen" class="rounded-circle" height="200" width="200" asp-append-version="true" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadMedida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnidadMedida)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockMinimo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockMinimo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ALaVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ALaVenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EsManufacturado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EsManufacturado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RubroArticulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RubroArticulo.Denominacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
