@model ElBuenSaborAdmin.Models.Articulo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denominacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denominacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadMedida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadMedida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockMinimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockMinimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ALaVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ALaVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RubroArticulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RubroArticulo.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Regresar</a>
</div>
