@model ElBuenSaborAdmin.Models.DetalleReceta

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Deseas eliminar esto?</h3>
<div>
    <h4>Detalle Receta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Articulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Articulo.GetDenominacionConUnidad)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-idRec="@Model.RecetaID" asp-route-idArt="@Model.ArticuloID">Regresar</a>
    </form>
</div>
