@model ElBuenSaborAdmin.Viewmodels.IndexDomicilioVM

@{
    ViewData["Title"] = "Domicilios";
}

<h1>Domicilios</h1>

<p>
    <a asp-action="Create" asp-route-id="@Model.ClienteID" value="Guardar" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Domicilios[0].Calle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilios[0].Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilios[0].Localidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilios[0].Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Domicilios) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.NombreCompleto)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/bootstrap-icons-1.5.0/list.svg" />
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Editar</a></li>
                        <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a></li>
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index" asp-controller="Clientes">Regresar</a>
